@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

* {
  font-family: "Syne Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #f6e198; 
}

body {
  background: #552e5a; 
}	
pre {
  color: #cf7979; 
}
a {
  color: #ecffa3;
  font-size: 16px;
}
