@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  background: #552e5a; 
  font-family: "Syne Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #ecffa3;
}	
pre {
color: #cf7979; 
}

p { 
color: #f6e198; 
}
